<!DOCTYPE html>
<html lang="pt">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/static/css/meucss.css">
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<title>Proanime</title>
</head>
<body>
	
	
	<nav class=" pt-0 pr-0 pl-0">
		<nav class="navbar bg-white navbar-expand fixed-top ">
			<div class=" container">
				<ul class=" navbar-nav ">
					<li>
						<a href="#" class="nav-link ">
							<i class="material-icons align-middle" style="">location_city</i>Home
						</a>
					</li>
					<li>
						<a href="#" class="nav-link"> <i class="material-icons align-middle" style="">contact_phone</i>
							Ajuda
						</a>
					</li>
					<li>
						<a href="#" class="nav-link"> <i class="material-icons align-middle" style=" color: ;">import_contacts</i>
							Blog
						</a>
					</li>
					<li>
						<a href="#" class="nav-link"> <i class="material-icons align-middle" style="">share</i>
							Redes Sociais
						</a>
					</li>
					<li>
						<a href="#" class="nav-link"><i class="material-icons align-middle" style="">local_library</i>
							Categorias
						</a>
					</li>
				</ul>


				<ul class=" navbar-nav ">
					<a href="#" class="nav-link"><i class="material-icons align-middle" style="">local_library</i>
						Login
					</a>
				</ul>


			</div>
		</nav>
		<div class="row">
               <div id="carouselExample" class="carousel slide">
                  <div class="carousel-inner">
                   <div class="carousel-item active">
                     <img src="/static/img/rezero3.jpg" alt="" class="teste_img">
                  </div>
                  <div class="carousel-item ">
                     <img src="/static/img/musho1.jpg" alt="" class="teste_img">
                  </div>
					  <div class="carousel-item ">
                     <img src="/static/img/over.jpg" alt="" class="teste_img">
                  </div>
 <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
   <span class="carousel-control-prev-icon" aria-hidden="true"></span>
   <span class="visually-hidden">Previous</span>
 </button>
 <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
   <span class="carousel-control-next-icon" aria-hidden="true"></span>
   <span class="visually-hidden">Next</span>
 </button>

						
					</div>
				</div>

			</div>
			
		</div>


	</nav>


	<div class="container mb-5">

		<section class="linha mt-5" id="lan">
			<div class="row">
				
				<div class="col-lg-4">
					<h1>Lançamentos</h1>
				</div>
				<div class="col-lg-4">
					
				</div>
				<div class="col-lg-4 pt-2">	
					<form action="#" class="input-group">
						<input type="search" class="form-group form-control mr-1 border-dark">
						<button class="btn btn-primary form-group mr-2">	Pesquisar </button>
					</form>
				</div>

			</div>
				<div class="card-body">
					<figure class="text-center img-fluid">
					<iframe width="360" height="215" src="https://www.youtube.com/embed/N_aGxSv7aDc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <iframe width="360" height="215" src="https://www.youtube.com/embed/fGr8BfT2lcA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
					<iframe width="360" height="215" src="https://www.youtube.com/embed/ZOEihZPz3aE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
               </figure>

				</div>


		</section>

		<section class="linha mt-5 mb-5" id="dest">
			


			<div class="row">

			<div class="card col-lg-4">
				<h3 class="card-header text-lg-center">Re:Zero kara Hajimeru Isekai Seikatsu</h3>
				<div class="card-body">
					<figure class="text-center img-fluid">
						<img src="/static/img/Subaru1.jpg" alt="" class="destaque">

						<figcaption class="card-header text-lg-center">
							Subaru Natsuki
						</figcaption>
					</figure>
					<article>
						Natsuki Subaru é o protagonista principal de Re:Zero kara Hajimeru Isekai Seikatsu. É um otaku que foi enviado a um mundo de fantasia. Ele oficialmente vira o cavaleiro de Emília depois do incidente no Santuário e é revelado posteriormente como possuindo qualificações como aprendiz de sábio.
					</article>

				</div>
				
			</div>

			<div class="card col-lg-4">
				<h3 class="card-header text-lg-center">Mushoku Tensei</h3>
				<div class="card-body">
					<figure class="text-center img-fluid">
						<img src="/static/img/rudeus1.jpg" alt="" class=" destaque">

						<figcaption class="card-header text-lg-center">
							Rudeus Greyrat
						</figcaption>
					</figure>
					<article>
						Rudeus Greyrat é o principal protagonista de Mushoku Tensei . Ele era um NEET japonês de 34 anos com excesso de peso que reencarnou em outro mundo depois de ser atropelado por um caminhão enquanto salvava algumas crianças . Percebendo que desperdiçou sua vida anterior, ele resolve viver esta nova ao máximo e a série gira em torno de como ele afeta seu novo mundo enquanto cresce lentamente para fora de seus modos reclusos.
					</article>
				</div>
				
			</div>
			<div class="card col-lg-4">
				<h3 class="card-header text-lg-center">Overlord</h3>
				<div class="card-body">
					<figure class="text-center img-fluid">
						<img src="/static/img/ainz.jpg" alt="" class=" destaque">

						<figcaption class="card-header text-lg-center">
							Ainz Ooal Gown
						</figcaption>
					</figure>
					<article>
						Ainz Ooal Gown anteriormente conhecido como Momonga, é o protagonista principal da série Overlord. Ele é o mestre da Guilda Ainz Ooal Gown, Senhor da Grande Tumba de Nazarick e o criador do Ator de Pandora. Ele é considerado o mais poderoso dentre os 41 Seres Supremos pelos NPCs de Nazarick.
No Novo Mundo, ele é o Rei Feiticeiro do Reino Feiticeiro e o mais poderoso conjurador de magia do mundo.
					</article>
				</div>
				
			</div>


			</div>



		</section>



		<section class="linha  container mt-5" id="addi">
			<h1 class="teste"></h1>
			<div class="row mb-5 pb-5">
				<div class="col-lg-4 col-sm-12 col-md-6">
					<figure>
						<img src="/static/img/rezero1.jpg" alt="imagem_rezero" class="img-fluid img-thumbnail">
						<figcaption>
							
						</figcaption>
					</figure>
				</div>
				<div class="col-lg-4 col-sm-12 col-md-6">
					<figure>
						<img src="/static/img/musho2.jpg" alt="imagem_musho " class="img-fluid img-thumbnail">
						<figcaption>
							
						</figcaption>
					</figure>
				</div>
				<div class="col-lg-4 col-sm-12 col-md-6">
					<figure>
						<img src="/static/img/over1.jpg" alt="imagem_dbs" class="img-fluid img-thumbnail">
						<figcaption>
							
						</figcaption>
					</figure>
				</div>

		</section>
	</div>

	<footer class="linha pb-1 pt-1 fixed-bottom mt-5" >
		<div class="ml-3">
			<figure>
				<img src="/static/img/" alt="" id="logo">
				<figcaption>
					<h6></h6>
				</figcaption>
			</figure>
		</div>

		
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous" class="img-fluid"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>

</body>
</html>